.grid-item {
  list-style: none;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-line {
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.footerCenter {
  display: flex;
  justify-content: center;
  margin: 10px;
}
